<div class="topnav">
  <a class="active" href="/fetch" (click)="clear()">ArticleShare</a>    
  <div *ngIf="!isloggedin else showemail">
    <a href="/login" style="float: right;">Login</a>
    <a href="/register" style="float: right;">Register</a>
    <a href="#about">About</a>
  </div>
  <ng-template #showemail>
    <div *ngIf="isloggedin && isSuperAdmin else showadmin">
      <a href="/create">Create</a>            
      <a href="/review">Review</a>            
      <a href="/fetch" (click)="asctrue()">OldArticles</a>
      <a href="/fetch" (click)="desctrue()">OldArticles</a>     
      <a href="#about">About</a>
      <a href="/login" (click)="logout()" style="float: right;">{{emailid}}</a>
      <form (ngSubmit)="search()">
        <input type="text" placeholder="Search.." [(ngModel)]="searchkeyword" name="searchkeyword" id="searchkeyword" ngModel>
      </form>
    </div>
  </ng-template>
  <ng-template #showadmin>
    <div *ngIf="isloggedin && isAdmin else user">      
      <a href="/create">CreateArticles</a>      
      <a href="/fetch" (click)="asctrue()">OldArticles</a>
      <a href="/fetch" (click)="desctrue()">NewArticles</a>         
      <a href="#about">About</a>
      <a href="/login" (click)="logout()" style="float: right;">{{emailid}}</a>
      <form (ngSubmit)="search()">
        <input type="text" placeholder="Search.." [(ngModel)]="searchkeyword" name="searchkeyword" id="searchkeyword" ngModel>
      </form>
    </div>
  </ng-template>
  <ng-template #user>
    <div *ngIf="isloggedin">    
      <a href="/fetch" (click)="asctrue()">OldArticles</a>
      <a href="/fetch" (click)="desctrue()">NewArticles</a>     
      <a href="#about">About</a>            
      <a href="/login" (click)="logout()" style="float: right;">{{emailid}}</a>
      <form (ngSubmit)="search()">
        <input type="text" placeholder="Search.." [(ngModel)]="searchkeyword"  name="searchkeyword" id="searchkeyword" ngModel>
      </form>
      
    </div>
  </ng-template>  
  
  
</div>
<body>
  <router-outlet></router-outlet>  
</body>